In [1]:
import pandas as pd
import numpy as np

import os
# import tmdbsimple as tmdb

In [2]:
os.makedirs('Data/', exist_ok=True)
os.listdir('Data/')

['final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'ratings.csv.gz',
 'title_aka.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results2000.json',
 'tmdb_api_results2001.json',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [3]:
# basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
# basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

basics = pd.read_csv("Data/title_basics.csv.gz", low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9108858 entries, 0 to 9108857
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 625.5+ MB

In [5]:
basics = basics.replace({'\\N':np.nan})
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [6]:
basics.value_counts('isAdult')

isAdult
0       8825780
1        283068
2019          3
2020          2
1981          1
2005          1
2014          1
2017          1
dtype: int64

In [7]:
basics[['isAdult', 'startYear', 'endYear']] = basics[['isAdult', 'startYear', 'endYear']].apply(pd.to_numeric)
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear           float64
runtimeMinutes     object
genres             object
dtype: object

In [8]:
# title_aka_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
# title_aka = pd.read_csv(title_aka_url,sep='\t', low_memory=False)

title_aka = pd.read_csv("Data/title_aka.csv.gz", low_memory = False)
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [9]:
# ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
# ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)

ratings = pd.read_csv("Data/ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1901
1  tt0000002            5.9       254
2  tt0000003            6.5      1694
3  tt0000004            5.7       166
4  tt0000005            6.2      2511

In [10]:
# # Save current dataframe to file.
# basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
# ratings.to_csv("Data/ratings.csv.gz",compression='gzip',index=False)
# title_aka.to_csv("Data/title_aka.csv.gz",compression='gzip',index=False)

In [11]:
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace=True)

In [12]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,"Comedy,Short"

In [13]:
basics = basics[basics['titleType'].str.contains('movie') == True]

In [14]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [15]:
basics = basics[basics["startYear"] >= 2000]

In [16]:
title_aka = title_aka.replace({'\\N':np.nan})
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [17]:
title_aka = title_aka[title_aka['region'] == 'US']
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [18]:
keepers = basics['tconst'].isin(title_aka['titleId'])
keepers

34790       True
61085       True
67630       True
77924      False
86761       True
           ...
9108530     True
9108539     True
9108578    False
9108623     True
9108707    False
Name: tconst, Length: 141754, dtype: bool

In [19]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0.0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61085,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0.0,2020.0,NaN,70,Drama
67630,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0.0,2018.0,NaN,122,Drama
86761,tt0088751,movie,The Naked Monster,The Naked Monster,0.0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
91030,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0.0,2020.0,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
9107994,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0.0,2019.0,NaN,74,Drama
9108390,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0.0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
9108530,tt9916170,movie,The Rehearsal,O Ensaio,0.0,2019.0,NaN,51,Drama
9108539,tt9916190,movie,Safeguard,Safeguard,0.0,2020.0,NaN,90,"Action,Adventure,Thriller"
9108623,tt9916362,movie,Coven,Akelarre,0.0,2020.0,NaN,92,"Drama,History"

In [20]:
title_aka.region.value_counts()

US    1338263
Name: region, dtype: int64

In [21]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82041 entries, 34790 to 9108623
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82041 non-null  object
 1   titleType       82041 non-null  object
 2   primaryTitle    82041 non-null  object
 3   originalTitle   82041 non-null  object
 4   isAdult         82041 non-null  float64
 5   startYear       82041 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  82041 non-null  object
 8   genres          82041 non-null  object
dtypes: float64(3), object(6)
memory usage: 6.3+ MB

In [22]:
title_aka.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1338263 entries, 5 to 32684518
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1338263 non-null  object
 1   ordering         1338263 non-null  int64
 2   title            1338263 non-null  object
 3   region           1338263 non-null  object
 4   language         3649 non-null     object
 5   types            963298 non-null   object
 6   attributes       44549 non-null    object
 7   isOriginalTitle  1336888 non-null  object
dtypes: int64(1), object(7)
memory usage: 91.9+ MB

In [23]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255722 entries, 0 to 1255721
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1255722 non-null  object
 1   averageRating  1255722 non-null  float64
 2   numVotes       1255722 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ MB

# TMDB

In [24]:
import json, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

In [25]:
with open(r"C:\Users\nbeac\.secret\tmdb_api.json", 'r') as f:
    login = json.load(f)
login.keys()

dict_keys(['api-key'])

In [26]:
tmdb.API_KEY = login['api-key']

In [27]:
def get_movie_with_rating(movie_id):
    ## Get movie and release dates
    movie = tmdb.Movies(movie_id)
    ## Construct output dict
    movie_info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1'] == 'US':
            movie_info['certification'] = c['certification']
    return[movie_info]

In [28]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'ratings.csv.gz',
 'title_aka.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results2000.json',
 'tmdb_api_results2001.json',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [29]:
YEARS_TO_GET = [2000,2001]

In [30]:
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):

    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE, 'w') as f:
            json.dump([{'imdb_id': 0}], f)

    # Load in the dataframe from project part 1 as basics:
    basics = pd.read_csv("Data/title_basics.csv.gz", low_memory=False)

    #Saving new year as the current df
    df = basics.loc[basics['startYear'] == YEAR].copy()

    # saving movie ids to list
    movie_ids = df['tconst'].copy()

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    def write_json(new_data, filename):
        """Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""

        with open(filename, 'r+') as file:

            # First we load existing data into a dict.
            file_data = json.load(file)

            ## Choose extend or append
            if (type(new_data) == list) & (type(file_data) == list):
                file_data.extend(new_data)
            else:
                file_data.append(new_data)

            # Sets file's current position at offset.
            file.seek(0)

            # convert back to json.
            json.dump(file_data, file)

            for movie_id in tqdm_notebook(movie_ids_to_get,
                                          desc=f'Movies from {YEAR}',
                                          position=1,
                                          leave=True):
                try:
                    temp = get_movie_with_rating(movie_id)
                    write_json(temp, JSON_FILE)
                    time.sleep(0.02)
                except Exception as e:
                    continue

                final_year_df = pd.read_json(JSON_FILE)
                final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz",
                                     compression="gzip",
                                     index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

In [31]:
tmdb_results_2000 = pd.read_csv(r"C:\Users\nbeac\OneDrive\Documents\GitHub\Dojo-Project-03\Data\final_tmdb_data_2000.csv.gz")
tmdb_results_2000.head()

   imdb_id
0        0

In [32]:
tmdb_results_2001 = pd.read_csv(r"C:\Users\nbeac\OneDrive\Documents\GitHub\Dojo-Project-03\Data\final_tmdb_data_2001.csv.gz")
tmdb_results_2001.head()

   imdb_id
0        0