In [2]:
import pandas as pd
import numpy as np

import os
# import tmdbsimple as tmdb

In [3]:
os.makedirs('Data/', exist_ok=True)
os.listdir('Data/')

['title.akas.tsv.gz', 'title.basics.tsv.gz', 'title.ratings.tsv.gz']

In [4]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
# basics.head()

# basics = pd.read_csv("Data/title_basics.csv.gz", low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9108858 entries, 0 to 9108857
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 625.5+ MB

In [7]:
title_aka_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
title_aka = pd.read_csv(title_aka_url,sep='\t', low_memory=False)

# title_aka = pd.read_csv("Data/title_aka.csv.gz", low_memory = False)
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [8]:
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)

# ratings = pd.read_csv("Data/ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1901
1  tt0000002            5.9       254
2  tt0000003            6.5      1694
3  tt0000004            5.7       166
4  tt0000005            6.2      2511

In [9]:
# Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
ratings.to_csv("Data/ratings.csv.gz",compression='gzip',index=False)
title_aka.to_csv("Data/title_aka.csv.gz",compression='gzip',index=False)

In [ ]:
basics = basics.replace({'\\N':np.nan})
basics.head()

In [ ]:
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace=True)

In [16]:
basics.dropna(inplace=True)

In [17]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [14]:
basics = basics.apply(pd.to_numeric, errors='ignore')

In [ ]:
basics = basics[basics['titleType'].str.contains('movie') == True]

In [ ]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [ ]:
basics = basics[basics["startYear"] >= 2000]

In [ ]:
title_aka = title_aka.replace({'\\N':np.nan})
title_aka.head()

In [ ]:
title_aka = title_aka[title_aka['region'] == 'US']
title_aka.head()

In [ ]:
keepers = basics['tconst'].isin(title_aka['titleId'])
keepers

In [ ]:
basics = basics[keepers]
basics

In [ ]:
title_aka.region.value_counts()