# Hypothesis Testing

## Task

Use your MySQL Database that was created from part 3 to answer meaningful questions for your stakeholder. 
    
    
* They want you to use your hypothesis testing and statistics knowledge to answer 3 questions about what makes a movie successful.

## Questions to Answer:

### 1. Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

* __Perform a statistical test to get a mathematically-supported answer.__
    * Report if any significant differences are found between the ratings.
        * If yes, what was the p-value of your analysis? And which rating earns the most revenue? 


* Prepare a visualization that supports your finding.


* __Include two additional hypotheses to test. These should be tests your stakeholders would be interested in.__


* *Examples*:

    1. Movies that are over 2.5 hours long; do they earn more revenue that movies that are 1.5 hours long?
    2. Do movies released in 2020 earn less revenue than movies released in 2018?
        * How to the years compare for the ratings? 
* Do some movie genres earn more revenue than others? 
* Are some genres higher rated than others?

In [1]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats


import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [8]:
## loading mysql credentials
with open(r"C:\Users\nbeac\.secret\tmdb_api.json") as f:
    login = json.load(f)
# login.keys()

## creating connection to database with sqlalchemy
connection_str = "mysql+pymysql://root:iamroot@localhost/movies"
engine = create_engine(connection_str)
pd.read_sql("SHOW TABLES;", engine)

# if database_exists(connection_str) == False: 
# #     create_database(connection_str)
# # else: 
# #     print('The database already exists.')

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings

In [13]:
q = """SELECT * FROM title_ratings
"""

api_data =pd.read_sql(q,engine)
api_data

            tconst  averageRating  numVotes
0        tt0000001            5.7      1901
1        tt0000002            5.9       255
2        tt0000003            6.5      1696
3        tt0000004            5.7       167
4        tt0000005            6.2      2515
...            ...            ...       ...
1257598  tt9916690            6.5         6
1257599  tt9916720            5.2       244
1257600  tt9916730            8.4         6
1257601  tt9916766            6.8        21
1257602  tt9916778            7.2        35

[1257603 rows x 3 columns]

## Specifiications

__Your Data__

* A critical first step for this assignment will be to retrieve additional movie data to add to your SQL database.
    * You will want to use the TMDB API again and extract data for additional years.


* __However, trying to extract the TMDB data for all movies from 2000-2022 could take >24 hours!!__


* To address this issue, you should EITHER: 
    * __Define a smaller (but logical) period of time__ to use for your analyses (e.g. last 10 years, 2010-2019 (pre-pandemic, etc). 
* __OR coordinate with cohort-mates and divide the API calls__ so that you can all download the data for a smaller number of years and then share your downloaded JSON data.

**Deliverables**

* You should use the same project repository you have been using for Parts 1-3 (for your portfolio).
    * Create a new notebook in your project repository just for the hypothesis testing (like "Part 4 - Hypothesis Testing.ipynb")
    * Make sure the results and visualization for all 3 hypotheses are in your notebook.